
body, html {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa; 
    color: #212529; 
}


.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,0.25); 
}


.display-3 {
    font-weight: bold;
    color: #0056b3; 
    margin-bottom: 40px; 
}


#controles .card {
    border: none;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    transition: all 0.3s; 
}

#controles .card:hover {
    transform: translateY(-5px); 
}


.btn, .nav-link {
    border-radius: 15px; 
    transition: background-color 0.2s; 
}

.btn:hover, .nav-link:hover {
    background-color: #003974; 
    color: #ffffff; 
}

.servicio-recomendaciones {
    margin-bottom: 40px;
}

.grafica-servicio {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.grafica-servicio {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
